In [9]:
from scrape_tokped import scrape_tokopedia
from extract_aspect import get_aspect
from get_sentiment import get_sentiment
import pandas as pd

In [2]:
url = 'https://www.tokopedia.com/sneakersdept/sepatu-sneakers-unisex-reebok-bb-4000-ii-100033315-original-45-a0f9f?extParam=ivf%3Dfalse%26keyword%3Dreebok%26search_id%3D202406261126444FD811CE401E5C260302%26src%3Dsearch'
reviews = scrape_tokopedia(url)

In [3]:
print(len(reviews))
# check type
print(type(reviews))
# get first 5 reviews
print(reviews[:5])

16
<class 'pandas.core.frame.DataFrame'>
                                              review rating
0  kwalitas original, di pakai nya nyaman di kaki...      5
1  ukuran sesuai, barang sesuai deskripsi, idk be...      5
2                                    barangnya bagus      5
3                                  ok sesuai pesanan      5
4  Sepatu yang jarang ada, sekilas kualitasnya ba...      5

In [4]:
results = get_aspect(reviews)

Using cpu

In [5]:
results = get_sentiment(results)

Using cpu

In [6]:
results

[{'review': 'kwalitas original, di pakai nya nyaman di kaki...\nmantap... ğŸ‘',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'ukuran sesuai, barang sesuai deskripsi, idk bedain ori ngga but from what i see.. definitely original..',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'barangnya bagus', 'aspect': 'barang', 'sentiment': 'Positive'},
 {'review': 'ok sesuai pesanan', 'aspect': 'barang', 'sentiment': 'Positive'},
 {'review': 'Sepatu yang jarang ada, sekilas kualitasnya bagus. Semoga sepatunya bisa awet.',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'sesuai deskripsi, packing rapih & aman, pengiriman on time,',
  'aspect': 'pengiriman',
  'sentiment': 'Positive'},
 {'review': 'sesuai deskripsi, packing rapih & aman, pengiriman on time,',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'model dan kualitas dijamin ori. semoga awet.',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'Sesuai pesanan, desain bgs. semoga awetğŸ˜.',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'original. Reebok. harga murah. terjangkau. pengiriman cepat. ukuran sesuai. dah beli ketiga di sini. Mantap pokoknya',
  'aspect': 'pengiriman',
  'sentiment': 'Positive'},
 {'review': 'original. Reebok. harga murah. terjangkau. pengiriman cepat. ukuran sesuai. dah beli ketiga di sini. Mantap pokoknya',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'model keren...sesuai produknya...packing double dus',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'Pengirimannya cepat, packing sangat rapih, barang sesuai orderan. Mantapp',
  'aspect': 'pengiriman',
  'sentiment': 'Positive'},
 {'review': 'Pengirimannya cepat, packing sangat rapih, barang sesuai orderan. Mantapp',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'Sepatunya keren banget, mantap',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'di deskripsi tertulis "Order yang masuk diatas jam close order kami, akan di proses di hari selanjut nya". tapi saya order di bawah jam close tetep dikirim nya h+... ',
  'aspect': 'pelayanan',
  'sentiment': 'Negative'},
 {'review': 'di deskripsi tertulis "Order yang masuk diatas jam close order kami, akan di proses di hari selanjut nya". tapi saya order di bawah jam close tetep dikirim nya h+... ',
  'aspect': 'barang',
  'sentiment': 'Negative'},
 {'review': 'Mantap modelnya ğŸ‘Ÿ Desainnya keren ğŸ‘ Packaging aman ğŸ™',
  'aspect': 'pengiriman',
  'sentiment': 'Positive'},
 {'review': 'Mantap modelnya ğŸ‘Ÿ Desainnya keren ğŸ‘ Packaging aman ğŸ™',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'Sepatunya nyaman Desainnya keren ğŸ‘ Mantap modelnya ğŸ‘Ÿ Bahannya berkualitas Ukuran sesuai Proses pesanan cepat Packaging aman ğŸ™ Respon penjualnya top Packaging rapi Penj... ',
  'aspect': 'pelayanan',
  'sentiment': 'Positive'},
 {'review': 'Sepatunya nyaman Desainnya keren ğŸ‘ Mantap modelnya ğŸ‘Ÿ Bahannya berkualitas Ukuran sesuai Proses pesanan cepat Packaging aman ğŸ™ Respon penjualnya top Packaging rapi Penj... ',
  'aspect': 'pengiriman',
  'sentiment': 'Positive'},
 {'review': 'Sepatunya nyaman Desainnya keren ğŸ‘ Mantap modelnya ğŸ‘Ÿ Bahannya berkualitas Ukuran sesuai Proses pesanan cepat Packaging aman ğŸ™ Respon penjualnya top Packaging rapi Penj... ',
  'aspect': 'barang',
  'sentiment': 'Positive'},
 {'review': 'Pembelian kesekian-sekian,...respon penjual selalu yg terbaik, kualitas sepatu gak usa diragukan. Terima kasih.',
  'aspect': 'pelayanan',
  'sentiment': 'Positive'},
 {'review': 'Pembelian kesekian-sekian,...respon penjual selalu yg terbaik, kualitas sepatu gak usa diragukan. Terima kasih.',
  'aspect': 'barang',
  'sentiment': 'Positive'}]

In [7]:
len(results)

24

In [10]:
# convert to dataframe
pd = pd.DataFrame(results)

In [13]:
pd.groupby('aspect').count()

            review  sentiment
aspect
barang          16         16
pelayanan        3          3
pengiriman       5          5

In [14]:
pd.groupby('sentiment').count()

           review  aspect
sentiment
Negative        2       2
Positive       22      22

In [21]:
pd[pd['sentiment'] == 'Positive'].groupby('aspect').count()

            review  sentiment
aspect
barang          15         15
pelayanan        2          2
pengiriman       5          5

In [18]:
pd[pd['sentiment'] == 'Negative'].groupby('aspect').count()

           review  sentiment
aspect
barang          1          1
pelayanan       1          1